* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* -------------navbar------------------- */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: relative;
}

.nav-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 70px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    display: inline-block;
    list-style: none;
    margin: 0 25px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s ease;
    padding-bottom: 10px;
}

.nav-links a:hover {
    color: #f39c12;
    border-bottom: 3px solid #f39c12;
}

.div-body {
    height: 100vh;
}

/* -------------main------------------- */
.container {
    display: flex;
    background-color: whitesmoke;
    overflow: auto;
    flex-direction: column;
    position: relative;
    height: 88dvh;
}


/* search */
.search {
    display: flex;
    margin: 50px auto 10px;
    align-items: center;
    flex-direction: column;
    position: relative;

}

.search input {
    width: 600px;
    text-align: center;
    height: 50px;
    color: black;
    border: solid 1px transparent;
    border-radius: 25px;
    outline: none;
    font-size: 20px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.094);
}


.list-items {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    margin: 0 auto 5px;
    z-index: 5;
    position: absolute;
    top: 110%;
    height: 300px;
    overflow: auto;

}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    padding-left: 10px;
    background-color: #619be6;
    border-top: 2px solid black;
    color: white;
}

/* billing */
.billing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.billig-div {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    background-color: #c9c9ca;
    width: 800px;
    height: 400px;
    align-self: center;
    margin: 0 10px 30px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.094);
    overflow: auto;

}

.table-list {
    background-color: #343a40;
    color: white;
    line-height: 2;
    border-collapse: collapse;
    margin: 5px;
    border-radius: 10px;
}


.table-list td {
    text-align: center;
    border-top: 1px solid rgb(231, 225, 225);
    padding: 2px;
}

.table-list input {
    width: 60px;
    height: 25px;
    padding: 5px;
    border: 1px solid rgb(232, 225, 238);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #343a40;
    font-size: 14px;
}

/* Remove the default number input arrows in Firefox */
.number-input input {
    -moz-appearance: textfield;
    /* Firefox */
}

/* Remove the default number input arrows in WebKit browsers (Chrome, Safari) */
.number-input input::-webkit-inner-spin-button,
.number-input input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-input {
    display: flex;
    align-items: center;
    justify-content: center;

}

.number-input input {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #cbcbcc;
}

.number-input button {
    background-color: transparent;
    color: white;
    padding: 0px 8px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    text-align: center;
    margin: 4px 4px;
    cursor: pointer;
}

.number-input button:hover {
    background-color: #797979;

}

.number-input button.minus {
    border-radius: 5px;
}

.number-input button.plus {
    border-radius: 5px;
}

.sino-th {
    width: 50px;
}


.refresh-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.refresh-icon {
    padding: 2px;
}

.refresh-icon,
.remove-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-icon {
    height: 20px;
    border-radius: 5px;
    margin: 0 3px;
}

.refresh-icon img {
    width: 14px;
}

.remove-icon img {
    width: 8px;
}

.refresh-icon:hover {
    background-color: #797979;
    border-radius: 25%;
}

.remove-icon:hover {
    background-color: #797979;
}


/* side div  */
.side-div {
    background-color: #c9c9ca;
    /* background-color: whitesmoke; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 150px;
    /* height: 400px; */
    align-self: center;
    margin: 0 10px 30px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.094);
    position: absolute;
    /* right: 25px; */
    right: 0px;
    bottom: 0px;
}

.side-div button {
    background-color: #28a745;
    color: white;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 10px 70px;
    line-height: 1.5;
    border-radius: 10px;
    border: 0;
}

.side-div button:hover {
    background-color: #218838;
}

.total-price {
    width: 100%;
    color: black;
    font-size: 19px;
    font-weight: bold;
    margin-left: 8px;
}

.profile-div {
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #c9c9ca;
    color: black;
    width: 125px;
    height: 90px;
    z-index: 5;
    position: absolute;
    right: 0;
    top: -3px;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(-10px);
    /* Initial position for sliding effect */
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* Smooth transition */
}

.profile-div.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    /* Slide to its original position */
    pointer-events: auto;
    /* Enable interaction when visible */
}

.profile-div a {
    text-decoration: none;
    color: white;
    background-color: #28a745;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 5px 20px;
    line-height: 1.5;
    border-radius: 10px;
}

.profile-div a:hover {
    background-color: #218838;
}


/* popups */
.popup-container {
    display: none;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: #00000070;
    transition: opacity .15s linear;
}

.popup-div {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    pointer-events: auto;
    background-color: white;
    width: 500px;
    border-radius: 8px;
}

.close-btn-div {
    width: 100%;
    text-align: right;
}

.close-btn-div button {
    border: 0;
    outline: 0;
    margin-right: 4px;
    margin-top: 4px;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 31px;
    padding: 1px 10px 5px 9px;
    color: #8d9191;
}

.close-btn-div button:hover {
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
}

.close-btn-div button span {
    display: inline-block;
}

.popup-head {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
}

.popup-head h4 {
    font-size: 23px;
    font-weight: bold;
    padding: 0 15px 5px;
}

.form-div {
    width: 100%;
    height: 100%;
    padding: 0 16px 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.form-group label {
    font-size: 16px;
    line-height: 2;
}

.form-group input {
    outline: 0;
    /* border: 0; */
    border: 2px solid black;
    padding: 15px;
    border-radius: 3px;
}

.form-group input:user-valid {
    border-color: green;
}

.form-group input:user-invalid {
    border-color: red;
}

.form-btn {
    display: block;
    text-align: center;
}

.form-btn input {
    outline: 0;
    border: 0;
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.form-btn input:hover {
    background-color: #218838;
}

.pay-dis {
    display: flex;
}

.pay-dis input {
    padding: 15px 15px;
}

.pay-dis select {
    padding: 15px 15px;
    border: 2px solid black;
    border-radius: 3px;
    background: transparent;
}

.mar-l-5 {
    margin-left: 5px;
}

.mar-r-5 {
    margin-right: 5px;
}

.w-50 {
    width: 50%;
}

.blur {
    filter: blur(5px)
}