<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <title>500 Error</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            text-align: center;
        }

        .main-div{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .img-div {
            width: 600px;
        }

        .img-div img {
            width: 600px;
        }
    </style>
</head>

<body>
    <div class="main-div">
        <div class="img-div">
            <img src="/images/500.jpg">
        </div>
    </div>
</body>

</html>
