*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}

/* ------------------------ dashboard style ------------------------ */
.container{
    display: flex;
    justify-content:space-evenly;
    background-color: whitesmoke;
    min-height: 100vh;
}
.cards{
    /* background-color: #68d2e8d1; */
    background-color: rgba(104, 210, 232,0.82);
    height: 300px;
    width: 300px;
    margin: 150px 50px 50px 50px;
    border-radius: 15px;
    box-shadow: 0 0px 10px rgba(104, 210, 232,0.52);
}
.cards:hover{

    box-shadow: 0 0px 20px rgba(104, 210, 232,1.0);
    cursor: pointer;
}
.cards .icon {
    width: 150px;
    height: 150px;
    border-radius:50% ;
    background-color: white;
    margin: 25px auto 20px;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position:center ;
}

.icon-database{
    background-image: url('../img/database-icon.png');

}

.icon-user{
    background-image: url('../img/user-icon.png');
}

.icon-report{
    background-image: url('../img/report-icon.png');
}

.cards h3{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}
