* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.head-text-container {
    background-color: rgba(233, 233, 233, 0.959);
    text-align: center;
    padding: 10px 0;
}

.container {
    background-color: aqua;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-1 {
    /* background-color: rgba(233, 233, 233, 0.959); */
    background-color: rgba(87, 218, 0, 0.959);
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 300px;
    margin-right: -15px;
    margin-left: -15px;
}

.container-2 {
    background-color: brown;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
