<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/billing.css" />
    <title>BILLING PAGE</title>
</head>

<body style="visibility: hidden;">
    <div class="div-body">
        <header>
            <nav class="navbar">
                <div class="nav-div">
                    <div class="nav-logo" onclick="window.location='/billing';">
                        <img src="/images/favicon.png" />
                    </div>
                    <div class="nav-head">
                        <h2>Aboos Restaurant</h2>
                    </div>
                    <div class="nav-links">
                        <div class="nav-logo">
                            <img src="/images/profile-icon.png" class="profile-icon" />
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="profile-div">
                <h3>{{ username }}</h3>
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
            <div class="search">
                <input type="text" name="livesearchbox" onkeyup="liveSearch(this.value)" placeholder="search products" />
                <div class="list-items">
                    <!-- list item here -->
                </div>
            </div>
            <div class="billing-container">
                <div class="billig-div">
                    <table class="table-list" id="billing_table">
                        <thead>
                            <tr>
                                <th>
                                    <div class="refresh-icon-div">
                                        <div class="refresh-icon" onclick="refreshTable()">
                                            <img src="/images/refresh.png" />
                                        </div>
                                    </div>
                                </th>
                                <th class="sino-th">SI.NO</th>
                                <th>PRODUCT</th>
                                <th>QUANTITY</th>
                                <th>M.R.P</th>
                                <th>PRICE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--seleted item here-->
                        </tbody>
                    </table>
                </div>
                <div class="side-div">
                    <div class="total-price">
                        <span>Total Price: </span><span id="total">₹0.00</span>
                    </div>
                    <div>
                        <button id="checkout">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Popup -->
        <div class="popup-container">
            <div class="popup-div">
                <div class="close-btn-div">
                    <button id="close-popup"><span class="close-icon">x</span></button>
                </div>
                <div class="popup-head">
                    <h4>Checkout</h4>
                </div>
                <div class="form-div">
                    <form action="" method="POST" autocomplete="off">
                        <div class="pay-dis">
                            <div class="form-group mar-r-5 w-50">
                                <label for="payment">Payment Type</label>
                                <select name="payment" id="payment" value="Select payment type" required>
                                    <option value="Select payment type" selected hidden disabled>Select payment type
                                    </option>
                                    <option value="CASH">CASH</option>
                                    <option value="UPI">UPI</option>
                                    <option value="CARD">CARD</option>
                                </select>
                            </div>

                            <div class="form-group mar-l-5 w-50">
                                <label for="input-discount">Discount</label>
                                <input type="number" id="input-discount" minlength="2" name="input-discount"
                                    placeholder="Discount" value="0.0">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="total-Amount">Total Amount</label>
                            <input type="text" name="total-Amount" id="total-Amount" readonly>
                        </div>

                        <div class="form-group">
                            <label for="input-amount">Tendered Amount</label>
                            <input type="number" id="input-amount" name="input-amount" minlength="2"
                                placeholder="Enter amount" required>
                        </div>

                        <div class="form-group change">
                            <label for="change">Change</label>
                            <input type="text" value="₹0.00" name="change" id="change" readonly>
                        </div>
                        <div class="form-btn">
                            <input type="button" value="Print" id="print">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/billing.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.body.style.visibility = 'visible';
        });
    </script>
</body>

</html>
